<% if f.object.persisted? %>
<ul class="nav nav-tabs">
  <%= li_tab_for("#section-basic-tab", t(:'admin.fieldset.general_informations'), 'active') %>
  <%= li_tab_for("#section-images-tab", t(:'admin.fieldset.images')) %>
  <%= li_tab_for("#section-advanced-tab", t(:'admin.fieldset.options')) %>
  <%= li_tab_for("#section-seo-tab", t(:'admin.fieldset.seo')) %>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="section-basic-tab">
	<%= render('default_fields', :f => f) %>
  </div>
  <div class="tab-pane" id="section-images-tab">
    <ul id='<%= resource_instance_name %>-image-assignment-list' class='thumbnails' data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="a.gallery-item" data-sortable-url="<%= admin_move_path(:model_name => 'ImageBankPhoto') %>">
      <%= render(f.object.image_bank_photos) %>
    </ul>
  </div>
  <div class="tab-pane" id="section-advanced-tab">
	<%= render('listing_fields', :f => f) if f.object.content_type.presence %>
	<%= render('option_fields', :f => f) %>
  </div>
  <div class="tab-pane" id="section-seo-tab">
	<%= render('form_seo_fields', :f => f) %>
  </div>
</div>
<% else %>
    <%= render('admin/sections/default_fields', :f => f) %>
<% end %>
