<td><%= link_to(record.name, edit_admin_site_document_path(record.site, record)) %></td>
<td><%= number_to_human_size(record.size, :precision => 2) %></td>
<%= content_tag_for_actions do %>
	<%= icon_to_edit(edit_admin_site_document_path(record.site, record)) %>
	<%= icon_to_destroy(admin_site_document_path(record.site, record)) %>
<% end %>