<div id="properties_panel">
  <%= simple_form_for(:theme, :method => :get, :html => {:multipart => true, :class => "form-horizontal"}) do |form| %>
      <%= form.error_notification %>
      <%= hidden_field_tag :cl, @resource_locale.to_s if @resource_locale.present? %>
      <% if params[:return_to].present? %>
          <%= hidden_field_tag(:return_to, return_to) %>
      <% elsif local_assigns[:return_here].present? %>
          <%= hidden_field_tag(:return_to, request.url) %>
      <% end %>
      <div class="accordion" id="properties-accordion">
        <!--GLOBAL
          /////////////////////////////////////////////////////////// -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#properties-accordion" href="#tab-global">
              Global colors
            </a>
          </div>
          <div id="tab-global" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="well">
                <%= render "themes/shared/color_schemes" %>
                <%= render "themes/shared/color_field",
                           :f => form,
                           :tname => "body background",
                           :name => "white",
                           :type => "color",
                           :value => "#FFF",
                           :format => "hex" %>
                <%= render "themes/shared/color_field",
                           :f => form,
                           :tname => "grayLighter color",
                           :name => "grayLighter",
                           :type => "color",
                           :value => "#eee",
                           :format => "hex" %>
                <%= render "themes/shared/color_field",
                           :f => form,
                           :tname => "grayLight color",
                           :name => "grayLight",
                           :type => "color",
                           :value => "#999",
                           :format => "hex" %>
                <%= render "themes/shared/color_field",
                           :f => form,
                           :tname => "gray color",
                           :name => "gray",
                           :type => "color",
                           :value => "#555",
                           :format => "hex" %>
                <%= render "themes/shared/color_field",
                           :f => form,
                           :tname => "text color",
                           :name => "grayDark",
                           :type => "color",
                           :value => "#333",
                           :format => "hex" %>
                <%= render "themes/shared/color_field",
                           :f => form,
                           :tname => "grayDarker",
                           :name => "grayDarker",
                           :type => "color",
                           :value => "#222",
                           :format => "hex" %>
                <%= render "themes/shared/color_field",
                           :f => form,
                           :tname => "black color",
                           :name => "black",
                           :type => "color",
                           :value => "#000",
                           :format => "hex" %>

              </div>
            </div>
          </div>
        </div>
        <!--/accordion-group-->
        <!--HEADER
          /////////////////////////////////////////////////////////// -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#properties-accordion" href="#tab-header">
              Header
            </a>
          </div>
          <div id="tab-header" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="well">

              </div>
            </div>
          </div>
        </div>
        <!--/accordion-group-->
        <!--BODY
          /////////////////////////////////////////////////////////// -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#properties-accordion" href="#tab-body">
              Body
            </a>
          </div>
          <div id="tab-body" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="well">

              </div>
            </div>
          </div>
        </div>
        <!--/accordion-group-->
        <!--FOOTER
          /////////////////////////////////////////////////////////// -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#properties-accordion" href="#tab-footer">
              Footer
            </a>
          </div>
          <div id="tab-footer" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="well">

              </div>
            </div>
          </div>
        </div>
        <!--/accordion-group-->
        <!--COPYRIGHT
          /////////////////////////////////////////////////////////// -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#properties-accordion" href="#tab-copyright">
              Copyright
            </a>
          </div>
          <div id="tab-copyright" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="well">

              </div>
            </div>
          </div>
        </div>
        <!--/accordion-group-->
        <!--FORM
          /////////////////////////////////////////////////////////// -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#properties-accordion" href="#tab-form">
              Form
            </a>
          </div>
          <div id="tab-form" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="well">
              </div>
            </div>
          </div>
        </div>
        <!--/accordion-group-->
        <!--ALERT
          /////////////////////////////////////////////////////////// -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#properties-accordion" href="#tab-alert">
              Alert
            </a>
          </div>
          <div id="tab-alert" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render "themes/shared/alert_fields", :f => form, :prefix => "warning" %>
              <%= render "themes/shared/alert_fields", :f => form, :prefix => "error" %>
              <%= render "themes/shared/alert_fields", :f => form, :prefix => "success" %>
              <%= render "themes/shared/alert_fields", :f => form, :prefix => "info" %>
            </div>
          </div>
        </div>
        <!--/accordion-group-->
        <!--BUTTONS
          /////////////////////////////////////////////////////////// -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#properties-accordion" href="#tab-buttons">
              Buttons
            </a>
          </div>
          <div id="tab-buttons" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render "themes/shared/buttons", :f => form %>
            </div>
          </div>
        </div>
        <!--/accordion-group-->
        <div class='form-actions'>
          <%#= render "model_form_buttons", :f => form %>
        </div>
      </div>
      <% end %><!--/form-->
</div>