<div class="control-group">
  <label class="control-label" for="theme[:<%= name %>]"><%= tname.to_s %></label>

  <div class="controls">
    <div class="input-append">
      <input type="text"
             class="span2"
             value="<%= value %>"
             data-name="<%= name.to_s %>"
             data-type="<%= type.to_s %>">
			<span class="add-on" style="width:100px;">
				<div class="slider sizer"
                     data-name="<%= name.to_s %>"
                     data-type="<%= type.to_s %>"
                     data-target="<%= target.to_s %>"
                     data-unit="<%= unit.to_s %>">
                </div>
			</span>
    </div>

  </div>
</div>	
