<%= javascript_tag do %>
	<%= render "uploader.js" %>
	<%= raw("jQuery(document).ready(function() { init_plupload(); });") %>
<% end %>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h3>Télécharger des fichiers</h3>
</div>
<div class="modal-body">
	<%= simple_form_for(resources, {:html => {:multipart => true, :class => "form-vertical"}}) do |form| %>
	<div class="container-fluid">
		<div class="row-fluid">
			<%= hidden_field_tag :cl, params[:cl].to_s if params[:cl].present? %>
			<%# Use in dialog to attach image to polymorphic resource like Page %>
			<% if @attachable %>
				<%= hidden_field_tag :attachable_id, @attachable.id %>
				<%= hidden_field_tag :attachable_type, @attachable.class.name %>
			<% end %>
			<%= form.association :image_folders, 
        :collection => current_site.cached_image_folders,
        :input_html => { :class => "span12" },
        :wrapper_html => { :class => "#{'hide' if !site.use_image_folders}" } %>
			<input type="file" class="uk-input" name="file" multiple="multiple" data-upload-url="<%= batch_admin_site_images_path %>" data-max-file-size="<%= local_assigns[:max_size] %>"/>
			<% if local_assigns[:max_size] %>
				<div id='upload-images-batch-hint'>
          <p><%= (t(:'admin.images.maximum_image_size', :size => local_assigns[:max_size]).html_safe) %></p>
        </div>
			<% end %>
		</div>
	</div>
	<% end %>
</div><!-- modal-body -->
             