<%= render "form_search", :advanced_partial => "admin/images/advanced_search_form" %>
<%= render "actions" %>
<div class="row-fluid">
  <% if site.use_image_folders %>
  <% content_for(:jquery_ready) do %>
      <%= raw("dnd_join_list($('#images-container'), $('#image-folders-tree-container'), '#{insert_admin_site_image_folders_path(current_site)}');\n") %>
  <% end %>
    <aside class="span3">
  		<%= render "admin/image_folders/tree_navigator_panel", :insert => false %>
  	</aside>
  	<div class="span9">
  		<div id="images-container" class="thumbnails-container">
  			<%= render "records" %>
  		</div>
  	</div> 
	<% else %>
  	<div class="span12">
  		<div id="images-container" class="thumbnails-container">
  			<%= render "records" %>
  		</div>
  	</div> 
	<% end %> 
</div>
<%= render "modal_gallery" %>
