<div class='control-group'>
  <label class="control-label">Documents</label>
  <div class="controls">
    <% if f.object.new_record? %>
        <span><%= t(:'admin.documents.save_before_attach').html_safe %></span>
    <% else %>
        <div class="well">
          <%= btn_to(t(:'admin.documents.actions.create_and_attach'),
                     new_admin_site_document_url(
                             current_site,
                             :multiple => true,
                             :attachable_type => "#{resource.class}",
                             :attachable_id => "#{resource.id}"),
                     :remote => true,
                     :icon => 'upload',
                     :'data-dialog-title' => "Documents") %>
          <%= btn_to(t(:'admin.documents.actions.browse_for_attach'),
                     insert_admin_site_documents_url(
                             current_site,
                             :dialog => "true",
                             :dialog_type => "document",
                             :attachable_type => "#{resource.class}",
                             :attachable_id => "#{resource.id}"),
                     :remote => true,
                     :icon => 'search',
                     :'data-dialog-type' => "documents",
                     :'data-dialog-title' => "Documents") %>
        </div>
        <ul id='<%= resource_instance_name %>-document-assignment-list' class='thumbnails sortable vertical' data-sortable-url="<%= admin_move_path(:model_name => 'DocumentAssignment') %>">
          <%= render f.object.document_assignments %>
        </ul>
    <% end %>
  </div>
</div>

<% content_for :after_javascript_libraries do %>
<script type="text/javascript">
	$(document).ready(function() {
		make_sortable($("#<%= f.object.class.name.underscore %>-document-assignment-list"));
	});
</script>
<% end %>