<%= render "actions" %>
<div class="well">
  <p><%= resource.to_email %><br/>
    <%= resource.name %><br/>
    <%= resource.email %><br/>
    <%= resource.phone %><br/>
    <%= resource.created_at %><br/>
    <%= resource.message.html_safe %></p>
</div>