<%= pin_it_button(@product) %>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>

or

<a title="Add '<%= title %>' to Pinterest" href="http://pinterest.com/pin/create/button/?url=<%= url %>&amp;media=<%= image %>">
	  <img alt="Twitter" src="<%=Spree::SocialBookmarks::Config[:image_path]%>pinterest.png" />
</a>