<% content_for :head do %>
    <%= stylesheet_link_tag 'gko_theme_roller_all' %>
<% end %>
<% content_for :after_javascript_libraries do %>
    <%= javascript_tag do -%>
        less = { env: 'development' };
    <% end -%>
    <%= javascript_include_tag("gko_theme_roller_all.js") -%>
<% end %>
<iframe id="frame" src="<%= default_admin_theme_path(@theme) %>" onload="init_theme()"></iframe>
<a class="btn" id="toogle-panel-btn" href="#">+</a>
<%= render "themes/shared/bootstrap_panel" %>